@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mt-[8vh] md:mt-[10vh]
}

.animate{
  @apply transition-all duration-200 ease-in-out
}

.hamburger {
  @apply cursor-pointer
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  @apply h-[2em];
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.line {
  @apply stroke-black;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.5;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger.active > svg {
  transform: rotate(-45deg);
}

.hamburger.active > svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.content-scroll-animation {
  transition: transform 0.5s;
}

.glass-effect {
  border: 1px solid #FFF;
  background: linear-gradient(107deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.30) 100%);
  backdrop-filter: blur(10px);
}

.gradiant-effect {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 98.44%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}